
//color
  $color-bg: #00abd3;//blueish
  $color-text: #00abd3;
  $color-text-muted: rgba(158, 158, 158, 0.41);
  $color-link-text: #00abd3;
  $color-icon-default: #00abd3;
  $color-icon-highlighted: #00d5ff;//todo: change it later

//font size
//  $
