<div class="profile-section">
  <nz-tabset>
    <nz-tab nzTitle="Settings">
      <div class="setting-section">
        <div class="personal-info">
          <ngp-personal-info></ngp-personal-info>
        </div>
        <div class="credentials">
          <ngp-credentials></ngp-credentials>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="My Posts">
      Content of Tab Pane 2
    </nz-tab>
    <nz-tab nzTitle="My likes">
      Content of Tab Pane 3
    </nz-tab>
  </nz-tabset>
</div>
