<div class="credentials-section">
  <button
    (click)="showModal()"
    nz-button [nzType]="'primary'">Change password</button>
</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Change Password" (nzOnCancel)="isVisible = false" (nzOnOk)="changePasswordFormSubmitted()">
  <form nz-form [formGroup]="credForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="password_first">Password</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="password"
               type="password" placeholder="New password" id="password_first">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="password_second">Confirm Password</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="confirm_password" placeholder="Confirm password" type="password" id="password_second">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
